<footer class="w-full mt-auto bg-gray_light">
    <div class="container px-6 py-10 mx-auto flex flex-col sm:flex-row justify-between">
        <div class="flex flex-col justify-between">
            <h2 class="mb-4 text-lg">Why not say hello?  </h2>
            <!-- Social icons -->
            {{ partial src="social-icons" classes="hidden sm:flex flex-row mb-0" }}
        </div>
        <div>
            <!-- Contact info -->
            {{ partial src="contact-info" classes="blog"}}
        </div>
        <div class="sm:hidden">
            {{ partial src="social-icons" classes="flex flex-row mt-6 justify-center" }}
        </div>
    </div>

    <script>
        document.querySelector('#contact-form textarea').placeholder = "Message";
    </script>
</footer>