<header class="w-full">
    <div class="flex-col xs:flex-row container py-6 px-6 mx-auto flex justify-between items-center">
        <a href="/">
            <h1 class="font-extrabold text-lg">{{ details:website_title }}</h1>
        </a>
        <nav class="hidden md:block">
            <ul class="flex">
                {{ nav:main }}
                    <li class="px-1 ml-6 cursor-pointer hover:underline
                        {{ if url | segment:1 == is_parent || is_current }} underline{{ endif }}
                    "><a href="{{ url }}">{{ title }}</a></li>
                {{ /nav:main }}
            </ul>
        </nav>
        <div class="block md:hidden mt-4 xs:mt-0 cursor-pointer">
            <div class="px-4 py-2 rounded border-2 border-gray_light">Menu</div>
        </div>
    </div>
</header>