<article class="projects-card {{ classes }}">
    <div class="projects-card__top">
        <div>
            <h2 class="projects-card__title text-size-h3">{{ title }}</h2>
            <p class="projects-card__date">{{ date }}</p>
        </div>
        {{ partial src="technology-stack" }}
    </div>
    <p class="projects-card__desc">{{ description }}</p>

    {{ if github or view }}
        <div class=" projects-card__bottom flex justify-center">
            <a href="{{ github }}" target="_blank" role="button" class="btn mr-2">
                <span class="btn__inner flex items-center">
                    <span>Github</span>
                    <span style="width: 18px; height: 18px;" class="text-white fill-current inline-block ml-2">{{ partial src="icons/github" }}</span>
                </span>
            </a>
            <a href="{{ view }}" target="_blank" role="button" class="btn">
                <span class="btn__inner flex items-center">
                    <span>View</span>
                    <span style="width: 18px; height: 18px;" class="text-white fill-current inline-block ml-2">{{ partial src="icons/link" }}</span>
                </span>
            </a>
        </div>
    {{ endif }}
</article>