<ul class="flex {{ classes }}">
    <li class="pr-4">
        <a class="flex text-text fill-current" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}" rel="noreferrer">
            <span>{{ partial:partials/icons/facebook }}</span>
        </a>        
    </li>
    <li class="pr-4">
        <a class="flex text-text fill-current" target="_blank" href="https://twitter.com/intent/tweet?text={{ current_url }}" rel="noreferrer">
            <span>{{ partial:partials/icons/twitter }}</span>
        </a>
    </li>
    <li class="pr-4">
        <a class="flex text-text fill-current" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=http://thoughtandmortar.com/articles/what-is-shopify-plus-part-7-plus-support&title={{ meta_title | rawurlencode }}&summary={{ meta_description | rawurlencode }}" rel="noreferrer">
            <span>{{ partial:partials/icons/linkedin }}</span>
        </a>
    </li>
</ul>