<ul class="text-base {{ classes }}">
    {{ if details:instagram }}
        <li class="mr-4"><a href="{{ details:instagram }}" target="_blank"><span class="text-accent fill-current">{{ partial:partials/icons/instagram }}</span></a></li>
    {{ endif }}
    {{ if details:twitter }}
        <li class="mr-4"><a href="{{ details:twitter }}" target="_blank"><span class="text-accent fill-current">{{ partial:partials/icons/twitter }}</span></a></li>
    {{ endif }}
    {{ if details:linkedin }}
        <li class="mr-4"><a href="{{ details:linkedin }}" target="_blank"><span class="text-accent fill-current">{{ partial:partials/icons/linkedin }}</span></a></li>
    {{ endif }}
</ul>