<ul class="text-base {{ classes }}">
    {{ if details:instagram }}
        <li class="mr-4"><a class="text-accent hover:text-accent_secondary" href="{{ details:instagram }}" target="_blank"><span class="fill-current">{{ partial:partials/icons/instagram }}</span></a></li>
    {{ endif }}
    {{ if details:twitter }}
        <li class="mr-4"><a class="text-accent hover:text-accent_secondary" href="{{ details:twitter }}" target="_blank"><span class="fill-current">{{ partial:partials/icons/twitter }}</span></a></li>
    {{ endif }}
    {{ if details:linkedin }}
        <li class="mr-4"><a class="text-accent hover:text-accent_secondary" href="{{ details:linkedin }}" target="_blank"><span class="fill-current">{{ partial:partials/icons/linkedin }}</span></a></li>
    {{ endif }}
</ul>