<footer class="panel footer">
    <div class="section footer__inner">
        <div class="footer__social-media">
            <p class="text-size-h4 mb-8">Why not say hello?</p>
            <!-- Social icons -->
            {{ partial src="social-icons" classes="hidden sm:flex flex-row mb-0" }}
        </div>
        <div>
            {{ partial src="contact-info" }}
        </div>
        <div class="sm:hidden">
            {{ partial src="social-icons" classes="flex flex-row mt-8 justify-center" }}
        </div>
    </div>

    <script>
        document.querySelector('#contact-form textarea').placeholder = "Message";
    </script>
</footer>