<!-- <header class="panel header" data-header>  -->
<header class="panel header header--scrolled" data-header> 
    <div class="section header__inner">
        <a class="no-underline" href="/">
            <h1 class="header__site-title">{{ site_details:website_title }}</h1>
        </a>
        {{ partial:partials/global/nav classes="desktop-nav nav hidden md:block"}}
        
        <div class="header__nav-toggle block md:hidden">
            <div class="">Menu</div>
        </div>
    </div>
</header>