.panel {
    width: 100%;
    min-width: 100%;
    max-width: none !important;

    padding: 1rem 1rem 2rem 1rem;

    @media screen and (min-width: 500px) {
        padding: 2.5rem 2.5rem 5rem 2.5rem;
    }
}

.section {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    &--xxl {
        max-width: 1920px !important; 
    }

    &--xl {
        max-width: 1660px !important;
    }

    &--md {
        max-width: 1140px !important;
    }

    &--sm {
        max-width: 880px !important;
    }

    &--xs {
        max-width: 620px !important;
    }
}