html {
    font-size: 16px;
    font-weight: 500;
}

body {
  line-height: 1.65;
}

h1, h2, h3, h4, h5 {
    line-height: 1.15;
    margin-bottom: 1.5rem;
}

a {
  @apply text-text underline;
  will-change: background, transform;
  transition-property: color, fill;
  transition: 0.25s ease-out;

  &:hover {
    @apply text-accent_secondary;
  }
}

p {
  margin-bottom: 0.5rem;
  font-weight: 400;

  font-size: 0.875rem;
  
  @screen sm {
    font-size: 1rem;
  }
}

.text-size-h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: bold;
  
  font-size: 2.44rem;
  @screen sm {
    font-size: 3.05rem;
  }
}

.text-size-h2 {
  font-size: 1.95rem;
  @screen sm {
    font-size: 2.44rem;
  }
}

.text-size-h3 {
  font-size: 1.56rem;
  @screen sm {
    font-size: 1.95rem;
  }
}

.text-size-h4 {
  font-size: 1.25rem;
  @screen sm {
    font-size: 1.56rem;
  }
}

.text-size-h5 {
  text-decoration: italic;
  font-size: 1.25rem;
}