/* Tailwind styles */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Global */
@import "globals/global";
@import "globals/layout";
@import "globals/typography";

/* Components */
@import "components/blog-card";
@import "components/contact-info";
@import "components/contact";
@import "components/footer";
@import "components/front-page";
@import "components/header";
@import "components/home";
@import "components/mobile-nav";
@import "components/desktop-nav";
@import "components/projects-card";
@import "components/skip-to-content.css";

/* Core */
@import "core/buttons";
@import "core/forms";