.front-page {
    @apply flex flex-col justify-center;
    min-height: calc(100vh - 180px);

    &__inner {
        @apply flex items-end mx-auto font-bold;
        margin-top: 5vw;
        margin-bottom: 5vw;
        width: 85vw;
        max-width: 85vw;
        
        @screen xl {
            margin-top: 70px;
            margin-bottom: 70px;
            width: 1190px;
            max-width: 1190px;
        }
    }

    &__title {
        @apply mb-0;
        width: 70vw;
        min-width: 70vw;
        max-width: 70vw;
        font-size: 7.5vw;
        
        @screen xl {
            width: 980px;
            min-width: 980px;
            max-width: 980px;
            font-size: 105px;
        }
    }

    &__shopify-logo {
        flex: auto;

        @screen xl {
            width: 218px;
            height: 218px;
            flex: none;
        }
    }

    &__arrow {
        @apply mx-auto cursor-pointer;
        min-width: 24px;
        min-height: 24px;
        width: 3.5vw;
        height: 3.5vw;
        max-width: 48px;
        max-height: 48px;
    }

    /* Colour animations */
    &__title-highlight {
        color: #6F74F1;
        animation-name: doAnimStay;
        animation-duration: 1s;
        animation-delay: .75s;
        animation-fill-mode: forwards;/* Makes it stay after animation */
    }

    &__shopify-logo {
        fill: #6F74F1;
        animation-name: doAnimStay;
        animation-duration: 1s;
        animation-delay: .75s;
        animation-fill-mode: forwards;/* Makes it stay after animation */
    }
}

@-webkit-keyframes doAnimStay{
    0% {
        fill: #6F74F1;
        color: #6F74F1;
    }

    100% {
        fill: #95BF47;
        color: #95BF47;
    }
}
