.front-page {
    @apply flex flex-col justify-center;
    min-height: calc(100vh - 180px);

    &__inner {
        @apply flex items-end font-bold mx-auto;
        margin-top: 5vw;
        margin-bottom: 5vw;
        width: 85vw;
        max-width: 85vw;
        
        @screen xl {
            margin-top: 70px;
            margin-bottom: 70px;
            width: 1190px;
            max-width: 1190px;
        }
    }

    &__title {
        @apply mb-0;
        width: 70vw;
        min-width: 70vw;
        max-width: 70vw;
        font-size: 7.5vw;
        @screen xl {
            width: 980px;
            min-width: 980px;
            max-width: 980px;
            font-size: 105px;
        }
    }

    &__shopify-logo {
        fill: #95BF47;
        flex: auto;

        @screen xl {
            width: 218px;
            height: 218px;
            flex: none;
        }
    }

    &__arrow {
        @apply cursor-pointer mx-auto;
        min-width: 24px;
        min-height: 24px;
        width: 3.5vw;
        height: 3.5vw;
        max-width: 48px;
        max-height: 48px;
    }
}
