.header {
    @apply bg-background py-0 fixed z-20 border-b-2 border-background flex;
    transition: 0.2s ease-in;
    transition-property: border;
    will-change: border;
    height: 70px;

    &--scrolled {
        @apply border-b-2 border-background_light;
    }

    &__inner {
        @apply flex flex-row justify-between items-center w-full;
    }


    &__site-title {
        @apply font-bold text-lg mb-0 no-underline;
    }

    &__nav {
        @apply no-underline;
    }

    &__nav-toggle {
        @apply cursor-pointer text-text fill-current block z-40 rounded-full;
        will-change: background;
        transition: 0.2s ease-in;
        transition-property: background;

        height: 50px;
        width: 50px;
        padding: 5px;

        @screen sm {
            @apply hidden;
        }

        &:hover {
            @apply bg-background_lighter;
        }

        &.active {
            @apply bg-background_lighter;
        }
    }
}