.about {
    &__inner {
        @apply flex flex-col items-center;
        @screen md {
            @apply flex-row;
        }
    }

    &__image {
        @apply rounded-full mx-auto;
        max-width: 50.078vw;
        max-height: 50.078vw;

        @screen sm {
            max-width: 320px;
            max-height: 320px;
        }
    }
    
    &__text {
        @apply mt-8 ml-0;

        @screen md {
            @apply mt-0 ml-12;
        }
    }
}

.skills {
    &__list {
        @apply flex flex-wrap;
    }

    &__item {
        @apply flex flex-col justify-center items-center my-8;
        width: 25%;
    }

    &__icon {
        @apply text-accent fill-current block mb-4;

        width: 10vw;
        height: 10vw;

        @screen xl {
            width: 140px;
            height: 140px;
        }
    }

    &__label {
        @apply text-tiny text-gray;
    }
}

.about, 
.skills,
.latest-blog-posts,
.latest-projects {
    
}