.mobile-nav {
    @apply fixed bg-background flex justify-center items-start z-30 border-2 border-text text-lg rounded-md;
    top: 75px;
    right: 28px;

    @screen sm {
        @apply hidden;
    }
}

.mobile-nav .nav {
    &__list {
        @apply flex flex-col items-center w-full;
    }
    
    &__item {
        @apply w-full;
    }

    &__item-inner {
        @apply inline-block py-2 px-4 mb-0 font-medium w-full;
        transition: 0.2s ease-in;
        transition-property: background-color;
        will-change: background-color;

        &:hover {
            @apply text-text bg-background_lighter;
        }

        &--active {
            @apply bg-text text-background_lighter;
        }
    }
}