.projects-card {
   @apply w-full bg-text bg-background_dark rounded-md p-6 block flex flex-col justify-start;
   @screen sm {
      @apply p-12;
   }

   &__title {
      @apply text-text leading-none mb-4;
      font-size: 28px;
      @screen md {
          font-size: 3.714285714vw;
      }
      @screen lg {
         font-size: 38px;
      }
   }

   &__date {
      @apply text-tiny text-accent_light font-medium mb-4;
   }

   &__desc {
      @apply text-text text-tiny mb-4;
   }

   &__bottom {
      @apply mt-auto;
   }

   .technology-stack {
      @apply flex flex-wrap mb-4;

      &__item {
         @apply text-accent fill-current mr-2;
         width: 24px;
         height: 24px;
      }
   }
}