{%- comment -%}
Requires further work to link to article variables

Use the following markup in layout.antlers.html :
{{ if collection == 'blog' }}
    {{ partial src="partials/meta/{collection}-data" }}
{{ endif }}

{%- endcomment -%}
<script type=”application/ld+json”>
    {
    “@context”: “http://schema.org”,
    “@type”: “BlogPosting”,
    “headline”: {{ title }}”,
    “image”: {
    “@type”: “ImageObject”,
    “url”: “{{ site | url }}{{ banner_image | url }}”,
    “height”: 750,
    “width”: 1920
    },
    “datePublished”: “{{ date }}”,
    “author”: {
    “@type”: “Person”,
    “name”: “{{ user:name }}”
    },
    “description”: “{{ excerpt }}”,
    “articleBody”: “”
    }
</script>