<!-- Opengraph -->
{{ if collection == 'blog' }}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="Article"/>
    <meta property="og:url" content="{{ site | url }}{{ url }}"/>
    <!-- Apply specific og:image if available, or generic banner_image if not -->
    <meta property="og:image" content="{{ banner_image }}">
{{ elseif collection == 'projects' }}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="Article"/>
    <meta property="og:url" content="{{ site | url }}{{ url }}"/>
    <!-- Apply projects image -->
    <meta property="og:image" content=""/>
{{ else }}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="Website"/>
    <meta property="og:url" content="{{ site | url }}{{ url }}"/>
    <!-- Apply generic image -->
    <meta property="og:image" content=""/>
{{ endif }}

<!-- Twitter -->
<meta name="twitter:site" content="{{ site_details:twitter insert="@|0" }}">
<meta name="twitter:creator" content="James Hall">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:card" content="summary_large_image">
{{ if collection == 'blog' }}
    <!-- Apply specific Twitter if available, or generic banner_image if not -->
    <meta name="twitter:image" content="{{ site | url }}{{ banner_image }}">
    {{ if meta_description }}
        <meta name="twitter:description" content="{{ meta_description ?? site_meta:meta_description }}">
    {{ else }}
        {{ collection from="pages" }}
            {{ if title == 'Blog' }}
                <meta name="twitter:description" content="{{ meta_description ?? site_meta:meta_description }}">
            {{ endif }}
        {{ /collection }}
    {{ endif }}
{{ else }}
    <!-- Apply generic image -->
    <meta name="twitter:image" content="">
{{ endif }}
