<!-- Opengraph -->
<meta property="og:title" content="{{ title }}"/>
<meta property="og:type" content="Article"/>
<meta property="og:url" content="{{ site | url }}{{ url }}"/>
{{ if collection == 'blog' }}
    <meta property="og:image" content="{{ site | url }}{{ banner_image }}">
{{ else }}
    <meta property="og:image" content="{{ site | url }}{{ site_meta:og_image }}">
{{ endif }}

<!-- Twitter -->
<meta name="twitter:site" content="{{ site_details:twitter insert="@|0" }}">
<meta name="twitter:creator" content="James Hall">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:card" content="summary_large_image">
{{ if collection != 'blog' }}
    <meta name="twitter:image" content="{{ site | url }}{{ site_meta:twitter_image }}">
{{ else }}
    <meta name="twitter:image" content="{{ site | url }}{{ banner_image }}">
    {{ if meta_description }}
        <meta name="twitter:description" content="{{ meta_description ?? site_meta:meta_description }}">
    {{ else }}
        {{ collection from="pages" }}
            {{ if title == 'Blog' }}
                <meta name="twitter:description" content="{{ meta_description ?? site_meta:meta_description }}">
            {{ endif }}
        {{ /collection }}
    {{ endif }}
{{ endif }}
