<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ meta_title ?? title }}</title>
        <meta name="description" content="{{ meta_description }}">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    </head>
    <body class="body preload">
        <a tabindex="0" class="skip-to-content" href="#content">Skip to content</a>

        {{ partial:partials/global/header }}

        <main class="main" id="content"> 
            {{ template_content }}
        </main>

        {{ partial:partials/global/footer }}
        
        <script type="text/javascript" async="" src="{{ mix src='js/site.js' }}"></script>
    </body>
</html>