<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ meta_title ?? title }}</title>
        <meta name="description" content="{{ meta_description }}">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <script type="text/javascript" async="" src="{{ mix src='js/site.js' }}"></script>
    </head>
    <body class="body">

        {{ partial:partials/global/header }}

        <main class="main"> 
            {{ template_content }}
        </main>

        {{ partial:partials/global/footer }}

    </body>
</html>