<img class="h-64 w-full object-cover mb-8" src="{{ featured_image }}" alt="{{ featured_image:alt }}" title="{{ featured_image:alt }}">
<div class="max-w-screen-md mx-auto">
    <h1 class="mb-8 text-xl sm:text-2xl leading-none">{{ title }}</h1/>
    <div class="flex items-center mb-16">
        <img src="{{ author:avatar }}" alt="{{ author:name }}" class="h-12 w-12 rounded-full object-cover">
        <div class="leading-tight ml-3">
            <p class="font-bold">{{ author:name }}</p>
            <p class="text-sm text-gray-600">{{ date }}</p>
        </div>
    </div>
    <div class="space-y-12 mb-12 rte">
        {{ article_content }}
    </div>
</div>