<div class="panel">
    <section class="section section--md contact">
        <h1 class="mb-8 text-size-h1 text-center">{{ content | raw }}</h1>
        {{ form:set is="contact" }}
            {{ form:create id="contact-form" }}
                {{ if success }}
                    <div class="bg-green-500 rounded p-4">
                        {{ success }}
                    </div>
                {{ else }}
                    {{ if error }}
                    <p>Oops, something went wrong!</p>
                    <ul class="list-disc list-inside mb-4">
                        {{ if error:name }}<li><span class="text-red-500 text-tiny italic">The name field is required</span></li>{{ /if }}
                        {{ if error:email }}<li><span class="text-red-500 text-tiny italic">The email field is required</span></li>{{ /if }}
                        {{ if error:message }}<li><span class="text-red-500 text-tiny italic">The message field is required</span></li>{{ /if }}
                    </ul>
                    {{ endif }}
                    <div class="contact__input-container">
                        <label class="hidden">Name</label>
                        <input {{ if error:name }}class="error"{{ endif }} type="text" id="name" name="name" value="{{ old:name }}" placeholder="Name" data-msg="A name is required" />
                    </div>

                    <div class="contact__input-container">
                        <label class="hidden">Email</label>
                        <input {{ if error:email }}class="error"{{ endif }} type="email" id="email" name="email" value="{{ old:email }}" placeholder="Email" data-msg="An email address is required" />
                    </div>

                    <div class="contact__input-container">
                        <label class="hidden">Message</label>
                        <textarea {{ if error:message }}class="error"{{ endif }} type="message" rows="5" id="message" name="message" value="{{ old:message }}" placeholder="Message" data-msg="A message is required"></textarea>
                    </div>

                    <button type="submit" class="btn">
                        <span class="btn__inner btn--large">Send</span>
                    </button>
                {{ endif  }}
            {{ /form:create }}
        {{ /form:set }}
    </section>
</div>