<div class="panel">
    <div class="section section--lg contact">
        <h1 class="mb-8 text-size-h1 text-center">{{ content | raw }}</h1>

        {{ form:contact id="contact-form" }}
            {{ if success }}
                <div class="bg-green-500 rounded p-4">
                    {{ success }}
                </div>
            {{ else }}
                {{ fields }}
                    <div class="py-2">
                        <div>{{ field }}</div>
                        {{ if error }}
                            <p class="text-red-500 text-xs">{{ error }}</p>
                        {{ /if }}
                    </div>
                {{ /fields }}
                <button type="submit" class="btn">
                    <span class="btn__inner btn--large">
                        Submit
                    </span>
                </button>
            {{ /if }}
        {{ /form:contact }}
    </div>
</div>