{{ partial src="front-page" }}

<div class="home">
    {{ settings.homepage_content }}

        {{# ABOUT #}}
        {{ if value == 'about' }}
            <div class="panel">
                <section class="section section--sm about">
                    <img class="about__image" src="{{ settings.about_image }}" alt="{{ settings.about_image.alt }}">
                    <div class="about__text">
                        <h3 class="about__text-header">{{ settings.about_header }}</h3>
                        <p class="about__text-body">{{ settings.about_body }}</p>
                    </div>
                </section>
            </div>
        {{ endif }}

        {{# MY_SKILLS #}}
        {{ if value == 'my_skills' }}
            <div class="panel">
                <section class="section section--md skills">
                    <h2 class="text-size-h1">Skills</h2>
                    <ul class="skills__list">
                        {{ settings.my_skills as="loop" }} 
                            {{ loop }}
                            <li class="skills__item">
                                <span class="skills__icon">
                                    {{ partial src="partials.icons.{value}" }}
                                </span>
                                <span class="skills__label">{{ label }}</span>
                            </li>
                            {{ /loop }}
                        {{ /settings.my_skills }}
                    </ul>
                </section>
            </div>
        {{ endif }}

        {{# BLOG #}}
        {{ if value == 'blog' }}
            <div class="panel">
                <section class="section section--xl latest-blog-posts">
                    <h2 class="text-size-h1">Latest blog post</h2>
                    {{ 
                        partial:partials/pagination 
                        collection_type="blog"
                        card_type="blog-card"
                        container_classes=""
                
                        {{# Show pagination controls #}}
                        show_controls="false"
                
                        {{# No of loops per page #}}
                        pagination_value="1"
                
                        {{# No of columns #}}
                        cols_mobile="1"
                        cols_desktop="1"
                        grid_gap="gap-4 sm:gap-8"
                    }}
                </section>
            </div>
        {{ endif }}

        {{# PROJECTS #}}
        {{ if value == 'projects' }}
            <div class="panel">
                <section class="section section--sm latest-projects">
                    <h2 class="text-size-h1">Latest project</h2>
                    {{ 
                        partial:partials/pagination 
                        collection_type="projects"
                        card_type="projects-card"
                        container_classes=""
                
                        {{# Show pagination controls #}}
                        show_controls="false"
                
                        {{# No of loops per page #}}
                        pagination_value="1"
                
                        {{# No of columns #}}
                        cols_mobile="1"
                        cols_desktop="1"
                        grid_gap="gap-4 sm:gap-8"
                    }}
                </section>
            </div>
        {{ endif }}
    {{ /settings.homepage_content }}
</div>