{{ partial src="front-page" }}

{{ site_settings.homepage_content }}
    {{# MY_SKILLS #}}
    {{ if value == 'skills' }}
        <div class="panel">
            <section class="section section--md skills">
                <h2 class="text-size-h2">
                    {{ site_content:skills_header }}
                </h2>
                <ul class="skills__list">
                    {{ site_settings.skills as="loop" }} 
                        {{ loop }}
                        <li class="skills__item">
                            <span class="skills__icon">
                                {{ partial src="partials.icons.{value}" }}
                            </span>
                            <span class="skills__label">{{ label }}</span>
                        </li>
                        {{ /loop }}
                    {{ /site_settings.skills }}
                </ul>
            </section>
        </div>
    {{ endif }}

    {{# PROJECTS #}}
    {{ if value == 'projects' }}
        <div class="panel">
            <section class="section section--md latest-projects">
                <h2 class="text-size-h2">
                    {{ site_content:featured_project_header }}
                </h2>
                {{ 
                    partial:partials/pagination 
                    collection_type="projects"
                    card_type="projects-card"
                    container_classes=""
            
                    {{# Show pagination controls #}}
                    show_controls="false"
            
                    {{# No of loops per page #}}
                    pagination_value="1"
            
                    {{# No of columns #}}
                    cols_mobile="1"
                    cols_desktop="1"
                    grid_gap="gap-4 sm:gap-8"
                }}
            </section>
        </div>
    {{ endif }}

    {{# BLOG #}}
    {{ if value == 'blog' }}
        <div class="panel">
            <section class="section section--md latest-blog-posts">
                <h2 class="text-size-h2">
                    {{ site_content:featured_blog_header }}
                </h2>
                {{ 
                    partial:partials/pagination 
                    collection_type="blog"
                    card_type="blog-card"
                    container_classes=""
            
                    {{# Show pagination controls #}}
                    show_controls="false"
            
                    {{# No of loops per page #}}
                    pagination_value="1"
            
                    {{# No of columns #}}
                    cols_mobile="1"
                    cols_desktop="1"
                    grid_gap="gap-4 sm:gap-8"
                }}
            </section>
        </div>
    {{ endif }}

    {{# ABOUT #}}
    {{ if value == 'about' }}
        <div class="panel">
            <section class="section section--md about">
                <div class="about__inner">
                    <img class="about__image" src="{{ site_content:about_image }}" alt="{{ site_content:about_image.alt }}">
                    <div class="about__text">
                        <h2 class="text-size-h2 about__text-header">{{ site_content:about_header }}</h2>
                        <p class="about__text-body mb-4">{{ site_content:about_body }}</p>
                        <p class="about__text-footer text-tiny">{{ site_content:about_footer }}</p>
                    </div>
                </div>
            </section>
        </div>
    {{ endif }}
{{ /site_settings.homepage_content }}